<div id="slider" class="inspiro-slider slider-halfscreen dots-creative" data-fade="true" data-height-xs="360">
    <div class="slide kenburns" style="background-image:url('images/hero/about-2.jpg');">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="slide-captions text-center text-light">
                <h1>About us</h1>
                <p>Our story began with a pursuit of balance between health and lifestyle. Today, as a team, we aspire to be your guide on the journey towards improved well-being and conscious dietary choices.</p>
                <a href="/#waitlist" class="btn btn-light btn-rounded scroll-to">Let us support you!</a>
            </div>
        </div>
    </div>
</div>

<!-- TEAM -->
<!-- Call to action -->
<section class="background-white p-t-100 p-b-0">
    <div class="container">
        <div class="heading-text heading-section text-center">
            <h2>Meet our Team</h2>
        </div>
        <div class="row team-members team-members-circle m-b-40">
            <div class="col-lg-3">
                <div class="team-member">
                    <div class="team-image">
                        <img src="images/team/karolina.jpg">
                    </div>
                    <div class="team-desc">
                        <h3>Karolina Ruszczyk</h3>
                        <span>CEO</span>
                        <p>Data Scientist will almost 10 years of experience with medical data. MBA student. Top 100 Women in Data Science.</p>
                        <div class="align-center">
                            <a class="btn btn-xs btn-slide btn-light" href="https://www.linkedin.com/in/karolina-rsz/"
                               data-width="100">
                                <i class="fab fa-linkedin"></i>
                                <span>Linkedin</span>
                            </a>
                            <a class="btn btn-xs btn-slide btn-light" href="mailto:karolina@wellmate.io"
                               data-width="80">
                                <i class="far fa-envelope"></i>
                                <span>Mail</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <div class="team-image">
                        <img src="images/team/radek.jpg">
                    </div>
                    <div class="team-desc">
                        <h3>Radosław Gryta</h3>
                        <span>CTO</span>
                        <p>Master of automation and robotics engineer by education, programmer by passion, MBA student. Professionally focused on the cloud, ML and
                            AI using Jetson Nano.</p>
                        <div class="align-center">
                            <a class="btn btn-xs btn-slide btn-light" href="https://www.linkedin.com/in/rgryta/"
                               data-width="100">
                                <i class="fab fa-linkedin"></i>
                                <span>Linkedin</span>
                            </a>
                            <a class="btn btn-xs btn-slide btn-light" href="mailto:radoslaw.gryta@wellmate.io" data-width="80">
                                <i class="far fa-envelope"></i>
                                <span>Mail</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <div class="team-image">
                        <img src="images/team/dorian.jpeg">
                    </div>
                    <div class="team-desc">
                        <h3>Dorian Nowacki, Ph.D.</h3>
                        <span>Scientific Expert</span>
                        <p>Ph.D. in Medical Sciences, clinical dietician, psychodietitian. CEO of Health Inn Med. Participant of Top 500 Innovators Program.</p>
                        <div class="align-center">
                            <a class="btn btn-xs btn-slide btn-light" href="https://www.linkedin.com/in/dnowacki/"
                               data-width="100">
                                <i class="fab fa-linkedin"></i>
                                <span>Linkedin</span>
                            </a>
                            <a class="btn btn-xs btn-slide btn-light" href="mailto:dorian.nowacki@wellmate.io" data-width="80">
                                <i class="far fa-envelope"></i>
                                <span>Mail</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <div class="team-image">
                        <img src="images/team/ola.jpg">
                    </div>
                    <div class="team-desc">
                        <h3>Aleksandra Radzio</h3>
                        <span>UX Designer</span>
                        <p>Mobile app and website designer, caring deeply for user experience. Creative soul.</p>
                        <div class="align-center">
                            <a class="btn btn-xs btn-slide btn-light" href="https://www.linkedin.com/in/aleksandra-radzio-9136b2290/"
                               data-width="100">
                                <i class="fab fa-linkedin"></i>
                                <span>Linkedin</span>
                            </a>
                            <a class="btn btn-xs btn-slide btn-light" href="mailto:aleksandra.radzio@wellmate.io" data-width="80">
                                <i class="far fa-envelope"></i>
                                <span>Mail</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- end: Call to action -->
<!-- end: TEAM -->