<div id="slider" class="inspiro-slider slider-halfscreen dots-creative"  data-fade="true" data-height-xs="360">
    <div class="slide kenburns" style="background-image:url('images/hero/about-1.jpg');">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="slide-captions text-center text-light">
                <h1>Our Mission</h1>
                <p>We want to teach you how to lead a healthy lifestyle  - in an easy and sustainable way, without restrictions and obsessions. We understand the challenges associated with achieving good health.</p>
                <a href="#welcome" class="btn btn-light btn-rounded scroll-to">Let us support you!</a>
            </div>
        </div>
    </div>
</div>

<!-- PROCESS -->

<section class="box-fancy section-fullwidth text-dark" style="background-image:url(homepages/web-design/images/parallax/1.jpg);">
    <div class="row">
        <div class="col-lg-4 text-center" data-animate="fadeInUp" data-animate-delay="200">
            <h1 class="text-lg text-uppercase">01.</h1>
            <h3>Why Us?</h3>
            <span>WellMate is not another app that will give you a meal and training plan, that is already sitting in our database. WellMate is your Health Assistant showing you that you shouldn’t adjust to a specific program. A perfect program has to be adjusted to you. At WellMate we understand that even if two people have the same goal, the approach could be completely different.
Are you a single mom of three with a full-time job? Don’t worry, we will offer you a different approach than if you were a young student with a lot of free time. And what if it’s still not working? Don’t worry, nothing is wrong with you! WellMate will adjust the plan until you are 100% happy with it.
            </span>
        </div>

        <div class="col-lg-4 text-center" data-animate="fadeInUp" data-animate-delay="400">
            <h1 class="text-lg text-uppercase">02.</h1>
            <h3>Are We Different?</h3>
            <span>Most of the apps and programs ready on the market give you ready solutions, but they don’t teach you about nutrition, training and mental health. If you have ever tried reaching your health goal, for example losing weight or gaining muscle and you used a program, you might know that once you reach the goal, it is very difficult to maintain it. WellMate’s approach is different - we will teach you how to be healthy within your goals long-term, and support you along the way and long after.
</span>
        </div>

        <div class="col-lg-4 text-center" data-animate="fadeInUp" data-animate-delay="600">
            <h1 class="text-lg text-uppercase">03.</h1>
            <h3>Approach</h3>
            <span>We understand how difficult it can get to stick to your health goals when life gets crazy. And, let’s be real, who doesn’t have a crazy, busy life? We will make it easy by adjusting the plan especially to you and assist and support you along the way. We do not only ask about your height, weight and your goal - we will use all the information you want to give us about your lifestyle to come up with the greatest plan, special for you. And change it in the meantime, because whose life doesn’t change drastically sometimes?</span>
        </div>
    </div>
</section>
<!-- end: PROCESS -->
<!-- TEAM -->
<!-- Call to action -->
<section class="background-grey p-t-100 p-b-100">
    <div class="container">
        <div class="heading-text heading-section text-center">
            <h2>Meet our Team</h2>
        </div>
        <div class="row team-members team-members-circle m-b-40">
            <div class="col-lg-3">
                <div class="team-member">
                    <div class="team-image">
                        <img src="images/team/karolina.jpg">
                    </div>
                    <div class="team-desc">
                        <h3>Karolina Ruszczyk</h3>
                        <span>CEO</span>
                        <p>data scientist, master of computer science in biomedical engineering, mentor, MBA for Startups student at Warsaw School of Economics, businesswoman.</p>
                        <div class="align-center">
                            <a class="btn btn-xs btn-slide btn-light" href="https://www.linkedin.com/in/karolina-rsz/" data-width="100">
                                <i class="fab fa-linkedin"></i>
                                <span>Linkedin</span>
                            </a>
                            <a class="btn btn-xs btn-slide btn-light" href="mailto:karolina@wellmate.io" data-width="80">
                                <i class="far fa-envelope"></i>
                                <span>Mail</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <div class="team-image">
                        <img src="images/team/marta.jpg">
                    </div>
                    <div class="team-desc">
                        <h3>Marta Szabłowska</h3>
                        <span>COO</span>
                        <p>lawyer, legal advisor, specialist in the field of copyright and new technologies, MBA for Startups student at the Warsaw School of Economics, businesswoman.</p>
                        <div class="align-center">
                            <a class="btn btn-xs btn-slide btn-light" href="https://www.linkedin.com/in/martaszablowska/" data-width="100">
                                <i class="fab fa-linkedin"></i>
                                <span>Linkedin</span>
                            </a>
                            <a class="btn btn-xs btn-slide btn-light" href="mailto:marta@wellmate.io" data-width="80">
                                <i class="far fa-envelope"></i>
                                <span>Mail</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <div class="team-image">
                        <img src="images/team/radek.jpg">
                    </div>
                    <div class="team-desc">
                        <h3>Radosław Gryta</h3>
                        <span>CTO</span>
                        <p>master of automation and robotics engineer by education, programmer by passion, MBA for Startups student at Warsaw School of Economics. Professionally focused on the cloud, ML and AI using Jetson Nano.</p>
                        <div class="align-center">
                            <a class="btn btn-xs btn-slide btn-light" href="https://www.linkedin.com/in/rgryta/" data-width="100">
                                <i class="fab fa-linkedin"></i>
                                <span>Linkedin</span>
                            </a>
                            <a class="btn btn-xs btn-slide btn-light" href="mailto:radek@wellmate.io" data-width="80">
                                <i class="far fa-envelope"></i>
                                <span>Mail</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <div class="team-image">
                        <img src="images/team/adam.jpg">
                    </div>
                    <div class="team-desc">
                        <h3>Adam Szabłowski</h3>
                        <span>CIO/CFO</span>
                        <p>tech lead, mentor, programmer, who has gone through all career paths in the web and mobile applications industry, as well as video game production. Certified producer.</p>
                        <div class="align-center">
                            <a class="btn btn-xs btn-slide btn-light" href="https://www.linkedin.com/in/adamszablowski/" data-width="100">
                                <i class="fab fa-linkedin"></i>
                                <span>Linkedin</span>
                            </a>
                            <a class="btn btn-xs btn-slide btn-light" href="mailto:adam@wellmate.io" data-width="80">
                                <i class="far fa-envelope"></i>
                                <span>Mail</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end: Call to action -->
<!-- end: TEAM -->

<!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
<link rel="stylesheet" type="text/css" href="plugins/slider-revolution/css/settings.css" media="screen" />
<link rel="stylesheet" type="text/css" href="plugins/slider-revolution/css/layers.css">
<link rel="stylesheet" type="text/css" href="plugins/slider-revolution/css/navigation.css">


<script type="text/javascript" src="plugins/slider-revolution/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="plugins/slider-revolution/js/jquery.themepunch.revolution.min.js"></script>

<script type="text/javascript" src="plugins/slider-revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="plugins/slider-revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="plugins/slider-revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="plugins/slider-revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="plugins/slider-revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="plugins/slider-revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="plugins/slider-revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="plugins/slider-revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="plugins/slider-revolution/js/extensions/revolution.extension.video.min.js"></script>
<script type="text/javascript">
    var tpj = jQuery;
    tpj.noConflict();
    var revapi6;
    tpj(document).ready(function() {
        if (tpj("#rev_slider_6_1").revolution == undefined) {
            revslider_showDoubleJqueryError("#rev_slider_6_1");
        } else {
            revapi6 = tpj("#rev_slider_6_1").show().revolution({
                sliderType: "standard",
                jsFileLocation: "plugins/slider-revolution/js/",
                sliderLayout: "fullwidth",
                dottedOverlay: "none",
                delay: 9000,
                navigation: {
                    keyboardNavigation: "off",
                    keyboard_direction: "horizontal",
                    mouseScrollNavigation: "off",
                    onHoverStop: "on",
                    arrows: {
                        style: "hades",
                        enable: true,
                        hide_onmobile: true,
                        hide_under: 0,
                        hide_onleave: true,
                        hide_delay: 200,
                        hide_delay_mobile: 1200,
                        tmp: '<div class="tp-arr-allwrapper">	<div class="tp-arr-imgholder"></div></div>',
                        left: {
                            h_align: "left",
                            v_align: "center",
                            h_offset: 40,
                            v_offset: 0
                        },
                        right: {
                            h_align: "right",
                            v_align: "center",
                            h_offset: 40,
                            v_offset: 0
                        }
                    }
                },
                responsiveLevels: [1240, 1024, 778, 480],
                visibilityLevels: [1240, 1024, 778, 480],
                gridwidth: [1170, 1024, 778, 480],
                gridheight: [700, 768, 960, 720],
                lazyType: "none",
                shadow: 0,
                spinner: "spinner2",
                stopLoop: "off",
                stopAfterLoops: -1,
                stopAtSlide: -1,
                shuffle: "off",
                autoHeight: "off",
                disableProgressBar: "on",
                hideThumbsOnMobile: "on",
                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 481,
                hideAllCaptionAtLilmit: 0,
                debugMode: false,
                fallbacks: {
                    simplifyAll: "off",
                    nextSlideOnWindowFocus: "off",
                    disableFocusListener: false,
                }
            });
        }
    }); /*ready*/
</script>