
<!-- REVOLUTION SLIDER -->
<section id="slider">
    <div id="rev_slider_6_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="Polo App Showcase" style="margin:0px auto;background-color:#333;padding:0px;margin-top:0px;margin-bottom:0px;">
        <!-- START REVOLUTION SLIDER 5.1 fullwidth mode -->
        <div id="rev_slider_6_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4">
            <ul>
                <!-- SLIDE  -->
                <li data-index="rs-21" data-transition="fade" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="600" data-thumb="images/hero/main-2_100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide"
                    data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="images/hero/main-2.jpg" alt="" width="1900" height="1200" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption miami_title_60px   tp-resizeme" id="slide-21-layer-1" data-x="['center','center','center','center']" data-hoffset="['207','207','169','2']" data-y="['middle','middle','middle','middle']" data-voffset="['-92','-92','-174','55']"
                         data-fontsize="['60','60','50','50']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:0;y:-30;z:0;rX:90;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;"
                         data-transform_out="opacity:0;s:240;s:240;" data-start="300" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap;border-color:rgba(0, 0, 0, 1.00);">THE BEST APP
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption miami_content_light tp-resizeme" id="slide-21-layer-2" data-x="['left','left','left','left']" data-hoffset="['606','537','406','90']" data-y="['middle','middle','middle','middle']" data-voffset="['-7','-7','-73','131']" data-fontsize="['22','22','18','18']"
                         data-width="['none','none','353','354']" data-height="['none','none','137','none']" data-whitespace="['nowrap','nowrap','normal','normal']" data-transform_idle="o:1;" data-transform_in="x:0;y:25;z:0;rX:-70;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;"
                         data-transform_out="opacity:0;s:300;s:300;" data-start="300" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap; color: rgba(255, 255, 255, 1.00);border-color:rgba(0, 0, 0, 1.00);">Smart App is so intellegent
                        <br /> You can share your photos, without touching
                        <br /> your phone, in different social networks!
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption Miami_nostyle   tp-resizeme" id="slide-21-layer-3" data-x="['left','left','left','center']" data-hoffset="['610','539','404','-73']" data-y="['top','top','top','top']" data-voffset="['407','439','434','545']" data-width="" data-height=""
                         data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:300;e:Power3.easeInOut;" data-transform_out="auto:auto;s:260;" data-start="300" data-splitin="none"
                         data-splitout="none" data-responsive_offset="on" style="z-index: 7; min-width: px; max-width: px; max-width: px; max-width: px; white-space: nowrap;font-family:Arial;border-color:rgba(34, 34, 34, 1.00);"><a href="#" class="btn btn-light btn-outline">Explore more</a>
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption divideline4pxdark   tp-resizeme" id="slide-21-layer-4" data-x="['center','center','center','center']" data-hoffset="['32','32','26','-143']" data-y="['middle','middle','middle','middle']" data-voffset="['-133','-133','-212','21']"
                         data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:0;y:25;z:0;rX:-70;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;" data-transform_out="opacity:0;s:300;s:300;"
                         data-start="300" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 8; white-space: nowrap;font-family:Arial;background-color:rgba(255, 255, 255, 100.00);border-color:rgba(255, 255, 255, 1.00);">
                    </div>

                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption   tp-resizeme" id="slide-21-layer-5" data-x="['left','left','left','left']" data-hoffset="['62','62','-8','7']" data-y="['top','top','top','top']" data-voffset="['213','213','186','6']" data-width="none" data-height="none" data-whitespace="nowrap"
                         data-transform_idle="o:1;" data-transform_in="x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:5;sY:5;skX:0;skY:0;opacity:0;s:900;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="300" data-responsive_offset="on" style="z-index: 9;"><img src="homepages/app-showcase/images/slider/app-1.png" alt="" width="428" height="470" data-ww="['428px','428px','428px','322px']" data-hh="['470px','470px','470px','354px']" data-no-retina>
                    </div>

                    <!-- LAYER NR. 6 -->
                    <div class="tp-caption   tp-resizeme" id="slide-21-layer-6" data-x="['left','left','left','left']" data-hoffset="['107','107','-19','50']" data-y="['top','top','top','top']" data-voffset="['184','184','144','-12']" data-width="none" data-height="none"
                         data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:5;sY:5;skX:0;skY:0;opacity:0;s:900;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="800" data-responsive_offset="on"
                         style="z-index: 10;"><img src="homepages/app-showcase/images/slider/app-2.png" alt="" width="428" height="470" data-ww="['428px','428px','428px','356px']" data-hh="['470px','470px','470px','392px']" data-no-retina>
                    </div>

                    <!-- LAYER NR. 7 -->
                    <div class="tp-caption   tp-resizeme" id="slide-21-layer-7" data-x="['left','left','left','left']" data-hoffset="['163','163','-34','113']" data-y="['top','top','top','top']" data-voffset="['180','180','115','-12']" data-width="none" data-height="none"
                         data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:5;sY:5;skX:0;skY:0;opacity:0;s:900;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="1300" data-responsive_offset="on"
                         style="z-index: 11;"><img src="homepages/app-showcase/images/slider/app-3.png" alt="" width="428" height="470" data-ww="['428px','428px','428px','353px']" data-hh="['470px','470px','470px','389px']" data-no-retina>
                    </div>
                </li>
                <!-- SLIDE  -->
                <li data-index="rs-22" data-transition="fade" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="600" data-thumb="images/hero/main-1_100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide"
                    data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="images/hero/main-1.jpg" alt="" width="1900" height="1200" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption miami_title_60px   tp-resizeme" id="slide-22-layer-1" data-x="['center','center','center','center']" data-hoffset="['-196','-230','-188','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-63','-43','-137','-272']"
                         data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:0;y:-30;z:0;rX:90;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;" data-transform_out="opacity:0;s:220;s:220;"
                         data-start="300" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap;border-color:rgba(0, 0, 0, 1.00);">SMART APP
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption miami_content_light text-end   tp-resizeme" id="slide-22-layer-2" data-x="['center','center','center','center']" data-hoffset="['-250','-273','-203','-4']" data-y="['middle','middle','middle','middle']" data-voffset="['80','36','-29','-211']"
                         data-fontsize="['22','22','18','16']" data-width="['415','387','333','406']" data-height="['218','none','143','none']" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="x:0;y:25;z:0;rX:-70;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;"
                         data-transform_out="opacity:0;s:280;s:280;" data-start="300" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; min-width: 415px; max-width: 415px; max-width: 218px; max-width: 218px; white-space: normal; color: rgba(255, 255, 255, 1.00);text-align:right;border-color:rgba(0, 0, 0, 1.00);">Smart App is so intelligent You can share your photos, without touching your phone, in different social networks!
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption divideline4pxdark   tp-resizeme" id="slide-22-layer-3" data-x="['center','center','center','center']" data-hoffset="['-60','-94','-55','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-106','-81','-173','-312']"
                         data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:0;y:25;z:0;rX:-70;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:800;e:Power3.easeInOut;" data-transform_out="opacity:0;s:300;s:300;"
                         data-start="300" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap;font-family:Arial;background-color:rgba(255, 255, 255, 100.00);border-color:rgba(255, 255, 255, 1.00);">
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption noshadow   tp-resizeme" id="slide-22-layer-4" data-x="['center','center','center','center']" data-hoffset="['-140','-163','-122','7']" data-y="['middle','middle','middle','middle']" data-voffset="['98','115','19','-151']" data-width="none"
                         data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:50px;opacity:0;s:800;e:Power3.easeInOut;" data-transform_out="opacity:0;s:270;s:270;" data-start="1000" data-splitin="none" data-splitout="none"
                         data-responsive_offset="on" style="z-index: 8; white-space: nowrap;font-family:Arial;"><a href="#" class="btn btn-light btn-outline"><span>Explore more</span></a>
                    </div>

                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption   tp-resizeme" id="slide-22-layer-5" data-x="['right','right','right','center']" data-hoffset="['109','58','-97','72']" data-y="['top','top','top','top']" data-voffset="['115','126','159','285']" data-width="none" data-height="none"
                         data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:bottom;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="0" data-responsive_offset="on" style="z-index: 9;"><img src="images/app/iphone_hand.png" alt="" width="672" height="988" data-ww="['477px','477px','477px','421px']" data-hh="['701px','701px','701px','620px']" data-no-retina>
                    </div>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
        </div>
    </div>
    <!-- END REVOLUTION SLIDER -->

</section>
<!-- END REVOLUTION SLIDER -->

<!-- FEATURES -->
<section id="app">
    <div class="container">
        <div class="text-center m-b-60">
            <h1 class="text-medium">YOUR PRIVATE HEALTH ASSISSTANT</h1>
            <p>Meet an app, that you have never seen before! WellMate combines health care associated with nutrition, sport and mental health in one place.

                Thanks to combining new technologies with traditional approach WellMate can offer you personalized support, adapted to your lifestyle.
            </p>
        </div>
        <div class="row">
            <div class="col-lg-4 p-t-80">
                <div class="icon-box icon-box-right effect medium border small" data-animate="fadeInLeft" data-animate-delay="200">
                    <div class="icon">
                        <a href="#"><i class="fa fa-rocket"></i></a>
                    </div>
                    <h3>Quick and easy meal logging</h3>
                    <p>Record your meals and trainings using voice recognition and pictures</p>
                </div>
                <div class="icon-box icon-box-right effect medium border small" data-animate="fadeInLeft" data-animate-delay="400">
                    <div class="icon">
                        <a href="#"><i class="fa fa-user-md"></i></a>
                    </div>
                    <h3>Personalized meal planning</h3>
                    <p>Learn how to plan meals, that will help you achieve your goals and will taste amazingly!</p>
                </div>
                <div class="icon-box icon-box-right effect medium border small" data-animate="fadeInLeft" data-animate-delay="600">
                    <div class="icon">
                        <a href="#"><i class="fa fa-life-ring"></i></a>
                    </div>
                    <h3>24/7 support</h3>
                    <p>Get support on the chat with dietitians, personal trainers, psychologists or AI.</p>
                </div>
            </div>

            <div class="col-lg-4 text-center" data-animate="fadeInUp" data-animate-delay="100">
                <img alt="img" class="img-fluid center-block" src="images/app/iphone.png">
            </div>

            <div class="col-lg-4 p-t-80">
                <div class="icon-box effect medium border small" data-animate="fadeInRight" data-animate-delay="200">
                    <div class="icon">
                        <a href="#"><i class="fa fa-heartbeat"></i></a>
                    </div>
                    <h3>Mental health support</h3>
                    <p>Get to know special functionalities that will support your mental relax.</p>
                </div>

                <div class="icon-box effect medium border small" data-animate="fadeInRight" data-animate-delay="400">
                    <div class="icon">
                        <a href="#"><i class="fa fa-male"></i></a>
                    </div>
                    <h3>Individual planning</h3>
                    <p>Create personalized meal and training plan that will be adapted to your lifestyle!</p>
                </div>

                <div class="icon-box effect medium border small" data-animate="fadeInRight" data-animate-delay="600">
                    <div class="icon">
                        <a href="#"><i class="fa fa-bar-chart"></i></a>
                    </div>
                    <h3>Nutrition and training analysis</h3>
                    <p>Get to know insights about your lifestyle and learn how to be healthier.</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- end: FEATURES -->

<div class="seperator"><i class="fa fa-chevron-down"></i></div>

<!-- DOWNLOAD APP -->
<section id="wishlist" class="background-grey p-b-40">
    <div class="container" data-animate="fadeInUp" data-animate-delay="100">
        <div class="text-center m-b-60" >
            <h1 class="text-medium"><strong>Save your spot</strong> on our wishlist.</h1>
            <h4>Make sure you sign up to try beta-version of the app, once we launch!</h4>
            <form id="wishlist-contact-form" class="form-inline center" style="max-width: 25rem;" action="/wishlist" role="form" method="post">
                <div class="form-group">
                    <label for="wishlist-name">Name</label>
                    <input class="form-control" id="wishlist-name" name="name" placeholder="name" type="text" required>
                </div>
                <div class="form-group">
                    <label for="wishlist-email">Email</label>
                    <input class="form-control" id="wishlist-email" name="email" pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$" placeholder="email@example.com" type="text" required>
                </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" id="wishlist-privacy" name="privacy" type="checkbox" required>
                            <label class="form-check-label text-justify" for="wishlist-privacy">
                                By checking this option, you agree to acceot with the <a href="/privacy-policy" style="color: #484848;">Terms and Conditions.</a>
                            </label>
                        </div>
                    </div>

                <button id="wishlist_send_button" class="btn m-t-20">Save</button>
            </form>
        </div>
    </div>
</section>
<!-- end: DOWNLOAD APP -->

<div class="seperator"><i class="fa fa-chevron-down"></i></div>

<!-- APP SCREENSHOTS -->
<section>
    <div class="container" data-animate="fadeInUp" data-animate-delay="200">
        <div class="carousel" data-items="5" data-margin="20" data-lightbox="gallery">
            <div>
                <a href="homepages/app-showcase/images/app-1.jpg" data-lightbox="gallery-image" title="Your image title here!"><img src="homepages/app-showcase/images/app-1.jpg" alt=""></a>
            </div>
            <div>
                <a href="homepages/app-showcase/images/app-2.jpg" data-lightbox="gallery-image" title="Your image title here!"><img src="homepages/app-showcase/images/app-2.jpg" alt=""></a>
            </div>
            <div>
                <a href="homepages/app-showcase/images/app-3.jpg" data-lightbox="gallery-image" title="Your image title here!"><img src="homepages/app-showcase/images/app-3.jpg" alt=""></a>
            </div>
            <div>
                <a href="homepages/app-showcase/images/app-4.jpg" data-lightbox="gallery-image" title="Your image title here!"><img src="homepages/app-showcase/images/app-4.jpg" alt=""></a>
            </div>
            <div>
                <a href="homepages/app-showcase/images/app-5.jpg" data-lightbox="gallery-image" title="Your image title here!"><img src="homepages/app-showcase/images/app-5.jpg" alt=""></a>
            </div>
            <div>
                <a href="homepages/app-showcase/images/app-6.jpg" data-lightbox="gallery-image" title="Your image title here!"><img src="homepages/app-showcase/images/app-6.jpg" alt=""></a>
            </div>
            <div>
                <a href="homepages/app-showcase/images/app-7.jpg" data-lightbox="gallery-image" title="Your image title here!"><img src="homepages/app-showcase/images/app-7.jpg" alt=""></a>
            </div>


        </div>

    </div>
</section>
<!-- end: APP SCREENSHOTS -->

<div class="seperator"><i class="fa fa-chevron-down"></i></div>

<!-- SIMPLE, IT'S GREAT APP -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-b-30 position-relative" style="height:556px">
                <div class="image-absolute" data-animate="fadeInLeft" data-animate-delay="800">
                    <img src="homepages/app-showcase/images/app-iphone-dark.png" alt="">
                </div>
                <div class="image-absolute" data-animate="fadeInLeft" data-animate-delay="400">
                    <img src="homepages/app-showcase/images/app-iphone-white.png" alt="">
                </div>
            </div>
            <div class="col-lg-6" data-animate="fadeInUp" data-animate-delay="1000">
                <div class="m-b-40">
                    <h1 class="text-medium">GETTING HEALTHY MADE EASY</h1>
                    <span class="lead">WellMate has one goal: help you become healthy. We will show you that it's not difficult and you are not the one who needs to adapt - the healthy lifestyle has to be customized for you.
                            </span>
                </div>
                <a href="#" class="btn btn-dark btn-outline"><span>Learn More</span></a>
            </div>
        </div>
    </div>
</section>
<!-- SIMPLE, IT'S GREAT APP -->

<a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>

<!--Plugins-->
<script src="js/jquery.js"></script>
<script src="js/plugins.js"></script>

<!--Template functions-->
<script src="js/functions.js"></script>

<!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
<link rel="stylesheet" type="text/css" href="plugins/slider-revolution/css/settings.css" media="screen" />
<link rel="stylesheet" type="text/css" href="plugins/slider-revolution/css/layers.css">
<link rel="stylesheet" type="text/css" href="plugins/slider-revolution/css/navigation.css">


<script type="text/javascript" src="plugins/slider-revolution/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="plugins/slider-revolution/js/jquery.themepunch.revolution.min.js"></script>

<script type="text/javascript" src="plugins/slider-revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="plugins/slider-revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="plugins/slider-revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="plugins/slider-revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="plugins/slider-revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="plugins/slider-revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="plugins/slider-revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="plugins/slider-revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="plugins/slider-revolution/js/extensions/revolution.extension.video.min.js"></script>
<script type="text/javascript">
    var tpj = jQuery;
    tpj.noConflict();
    var revapi6;
    tpj(document).ready(function () {
        if (tpj("#rev_slider_6_1").revolution == undefined) {
            revslider_showDoubleJqueryError("#rev_slider_6_1");
        } else {
            revapi6 = tpj("#rev_slider_6_1").show().revolution({
                sliderType: "standard",
                jsFileLocation: "plugins/slider-revolution/js/",
                sliderLayout: "fullwidth",
                dottedOverlay: "none",
                delay: 9000,
                navigation: {
                    keyboardNavigation: "off",
                    keyboard_direction: "horizontal",
                    mouseScrollNavigation: "off",
                    onHoverStop: "on",
                    arrows: {
                        style: "hades",
                        enable: true,
                        hide_onmobile: true,
                        hide_under: 0,
                        hide_onleave: true,
                        hide_delay: 200,
                        hide_delay_mobile: 1200,
                        tmp: '<div class="tp-arr-allwrapper">	<div class="tp-arr-imgholder"></div></div>',
                        left: {
                            h_align: "left",
                            v_align: "center",
                            h_offset: 40,
                            v_offset: 0
                        },
                        right: {
                            h_align: "right",
                            v_align: "center",
                            h_offset: 40,
                            v_offset: 0
                        }
                    }
                },
                responsiveLevels: [1240, 1024, 778, 480],
                visibilityLevels: [1240, 1024, 778, 480],
                gridwidth: [1170, 1024, 778, 480],
                gridheight: [700, 768, 960, 720],
                lazyType: "none",
                shadow: 0,
                spinner: "spinner2",
                stopLoop: "off",
                stopAfterLoops: -1,
                stopAtSlide: -1,
                shuffle: "off",
                autoHeight: "off",
                disableProgressBar: "on",
                hideThumbsOnMobile: "on",
                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 481,
                hideAllCaptionAtLilmit: 0,
                debugMode: false,
                fallbacks: {
                    simplifyAll: "off",
                    nextSlideOnWindowFocus: "off",
                    disableFocusListener: false,
                }
            });
        }
    }); /*ready*/
</script>