<div id="slider" class="inspiro-slider slider-halfscreen dots-creative" data-fade="true" data-height-xs="360">
    <div class="slide kenburns" style="background-image:url('images/hero/about-1.jpg');">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="slide-captions text-center text-light">
                <h1>Our Mission</h1>
                <p>We want to teach you how to live a healthy lifestyle - in an easy and sustainable way, without
                    restrictions and obsessions. We understand the challenges associated with achieving good health.</p>
                <a href="#welcome" class="btn btn-light btn-rounded scroll-to">Let us support you!</a>
            </div>
        </div>
    </div>
</div>

<!-- PROCESS -->

<section class="no-padding equalize" data-equalize-item=".text-box">
    <div class="row col-no-margin">
        <div class="col-lg-4">
            <div class="text-box hover-effect text-dark">
                <h1 class="text-lg text-uppercase">01.</h1>
                <h3>Why Us?</h3>
                <span>WellMate is not another app that will give you a meal and training plan. 
                    WellMate is your Health Assistant showing you that you shouldn’t adjust to 
                    a specific program. It will answer all of your questions taking your fitness level, 
                    experience and preferences into consideration. At WellMate we understand that even if 
                    two people have the same goal, the approach could be completely different. 
                    Are you a single mom of three with a full-time job? WellMate will offer you different 
                    advice than if you were a young student with a lot of free time. And what if it’s still not working?
                    Don’t worry, nothing is wrong with you! WellMate will adjust the approach until you are 100% happy with it.
            </span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="text-box hover-effect text-dark">
                <h1 class="text-lg text-uppercase">02.</h1>
                <h3>Are We Different?</h3>
                <span>
                    Most of the fitness apps available on the market give you a plan that is not adjusted to you and chances are, 
                    it will not work for you. They don’t answer your questions and don’t check in with your mental health. 
                    WellMate makes logging daily activities easier, uses AI and experts’ knowledge to adjust the approach to you 
                    and answers all of the health-related questions. We also take care of your mental health to make sure you 
                    don’t experience burnout!
                </span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="text-box hover-effect text-dark">
                <h1 class="text-lg text-uppercase">03.</h1>
                <h3>Approach</h3>
                <span>
                    We understand how difficult it can get to stick to your health goals when life gets crazy. 
                    And, let’s be real, who doesn’t have a crazy, busy life? We will make it easy by adjusting the advice 
                    especially to you and assist and support you along the way. We do not only ask about your height, 
                    weight and your goal - we will use all the information you want to give us about your lifestyle to come up 
                    with the greatest solution, special for you. And change it in the meantime, because whose life doesn’t 
                    change drastically sometimes?
                </span>
            </div>
        </div>
    </div>
</section>
<!-- end: PROCESS -->
<!-- PARALLAX -->
<section class="py-xl-10 py-md-5" data-bg-image="images/other/balance.jpg">
    <div class="container">
        <div class="text-light">
            <div class="row">
                <div class="col-lg-6" data-animate="fadeInUp" data-animate-delay="1000">
                    <div class="m-b-40">
                        <h1 class="text-medium">GETTING HEALTHY MADE EASY</h1>
                        <span class="lead">Did you know that 60% of Americans want to become more healthy? This number is quite high for other countries as well! For example, in 2021 70% of adults in the UK decided to get more healthy. Where is the problem, you might ask? Almost half of the population in the US thinks that leading a healthy lifestyle will make them miserable.
                            </span>
                    </div>
                    <a href="#waitlist" class="btn btn-dark btn-outline"><span>Sounds familiar?</span></a>
                </div>
                <div class="col-lg-6" data-animate="fadeIn">
                    <div class="row">
                        <div class="col-6 text-center">
                            <div class="pie-chart" data-percent="48" data-color="#FF9900">
                                <span class="percent"></span>
                            </div>
                            <h4>believe</h4>
                            <p>that following a "healthy lifestyle" will make them miserable</p>
                        </div>
                        <div class="col-6 text-center">
                            <div class="pie-chart" data-percent="60" data-color="#FF9900">
                                <span class="percent"></span>
                            </div>
                            <h4>want to get healthier</h4>
                            <p>but they believe that in today's times it's very difficult</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- PARALLAX -->

<!-- PARALLAX -->
<section class="background-white">
    <div class="container">
        <div class="row">
            <p class="lead text-center">
                If you have ever had any health goals you probably know that reaching them is quite hard and needs a lot of
                motivation and discipline. And if you reached the goal, do you remember how difficult was it to stick
                with those healthy habits? You are not alone with these struggles. 58% of Americans have tried some kind
                of diet in their lifetime but 79% of them fell back to their old, unhealthy habits after completing or,
                mostly, giving up on their diet.
            </p>
        </div>
        <div class="row">
            <div class="col-lg-6 text-center"><span class="pie-chart" data-percent="58" data-color="#FF9900"> <span
                    class="percent"></span> </span>
                <h4>Americans</h4>
                <p>have tried some kind of diet</p>
            </div>
            <div class="col-lg-6 text-center">
                <div class="pie-chart" data-percent="79" data-color="#FF9900"><span class="percent"></span></div>
                <h4>of those</h4>
                <p>fell back to their old eating habits after finishing or giving up on a diet</p>
            </div>
        </div>
    </div>
</section>
<!-- PARALLAX -->

<!-- SIGNATURE MESSAGE -->
<section class="background-grey">
    <div class="container ">
        <div class="col-lg-8 offset-lg-2 text-center">
            <div class="blockquote blockquote-simple">
                <p>We, humans, are very <span class="highlight highlight-large">complicated</span>. We try the same
                    approaches over and over again, because they worked
                    short-term, but we blame ourselves for falling back to old habits, not the diet itself. And we try
                    it
                    again. And again. And again.</p>
                <small>by <cite>WellMate CEO</cite></small>
            </div>
        </div>
    </div>
</section>
<!-- end: SIGNATURE MESSAGE -->

<section class="background-white">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 center">
                <h4>Scientists agree on why diets don’t work.</h4>
                <p class="lead">
                    A study published in 2020 (<a href="https://pubmed.ncbi.nlm.nih.gov/32238384/"
                                                  target="_blank">link</a>) analyzed studies with 14 most
                    popular diets
                    on overweight
                    and obese patients and while all the approaches gave amazing results after 6 months, another
                    6
                    months
                    later most of the patients went back to the same state they were at the beginning of the
                    program.
                    The
                    conclusion was clear: it doesn’t matter which approach you choose, as long as it’s working
                    for you
                    and
                    you feel like you can stick with it.
                </p>
                <p>
                    Researchers also agree: if you restrict too much, it will be much harder to have
                    long-lasting
                    benefits.
                    Restrictive approaches (if it comes to dieting, training or mental health) are not
                    sustainable.
                    Meanwhile, most of us try it all the time.
                </p>
            </div>

            <div class="col-lg-6 center text-center">
                <p>Most common approaches to lose weight.</p>
                <ul class="chart w-100 p-l-0 mb-5">
                    <li>
                        <span style="height:88%" title="restricting certain foods" data-value="88%"></span>
                    </li>
                    <li>
                        <span style="height:44%" title="limiting quantity" data-value="44%"></span>
                    </li>
                    <li>
                        <span style="height:43%" title="counting calories" data-value="43%"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Page Content -->
<section class="background-grey">
    <div class="container">
        <div class="row heading-text text-center">
            <h4>So, what is actually working?</h4>
            <p class="lead">
                Is it possible to reach your health goals and sustain them long-term? Why is it so difficult?
                Don’t worry, we can help! WellMate offers you a personalized approach that will work for you and your
                lifestyle. We understand that if you are a single mom of 3 kids working full-time job, you will need a
                different meal plan and training program than a student that has a lot of free time. Just remember: if a
                plan is not working YOU are NOT the problem. The program is.
                WellMate is not another app that will give you a meal and training plan, that is already sitting in our
                database. WellMate is your Health Assistant answering all of your health-related questions at any time, 
                any place. It will take into consideration your habits, preferences and existing health issues while 
                giving any advice, just like an expert would.
            </p>
        </div>

        <!-- DataTable -->
        <div class="row">
            <div class="col-lg-10 center text-center">
                <table id="datatable" class="table table-hover" style="width:100%">
                    <thead>
                    <tr>
                        <th>FEATURES</th>
                        <th>WELLMATE</th>
                        <th>OTHER APPS</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Easy meal and training logging</td>
                        <td><i class="fa fa-face-smile fa-2xl" style="color: #ffcd4c"></i></td>
                        <td><i class="fa fa-face-meh fa-2xl" style="color: #ffcd4c"></i></td>
                    </tr>
                    <tr>
                        <td>Personalized approach based on your lifestyle and fitness level</td>
                        <td><i class="fa fa-face-smile fa-2xl" style="color: #ffcd4c"></i></td>
                        <td><i class="fa fa-face-meh fa-2xl" style="color: #ffcd4c"></i></td>
                    </tr>
                    <tr>
                        <td>Deep analysis of your progress</td>
                        <td><i class="fa fa-face-smile fa-2xl" style="color: #ffcd4c"></i></td>
                        <td><i class="fa fa-face-frown-open fa-2xl" style="color: #ffcd4c"></i></td>
                    </tr>
                    <tr>
                        <td>24/7 access to professional support</td>
                        <td><i class="fa fa-face-smile fa-2xl" style="color: #ffcd4c"></i></td>
                        <td><i class="fa fa-face-frown-open fa-2xl" style="color: #ffcd4c"></i></td>
                    </tr>
                    <tr>
                        <td>Combining knowledge of experienced professionals and AI to provide the best approach</td>
                        <td><i class="fa fa-face-smile fa-2xl" style="color: #ffcd4c"></i></td>
                        <td><i class="fa fa-face-frown-open fa-2xl" style="color: #ffcd4c"></i></td>
                    </tr>
                    <tr>
                        <td>Adjusting to your needs whenever anything changes</td>
                        <td><i class="fa fa-face-smile fa-2xl" style="color: #ffcd4c"></i></td>
                        <td><i class="fa fa-face-frown-open fa-2xl" style="color: #ffcd4c"></i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<section id="waitlist" class="background-white">
    <div class="container" data-animate="fadeInUp" data-animate-delay="100">
        <div class="row">
            <div class="text-center m-b-60">
                <h1 class="text-medium">Can’t wait <strong>to try it out?</strong></h1>
                <h4> It doesn’t hurt and will show you that getting healthy can actually be easy! Sign up now to our
                    waiting list and get early access to WellMate!</h4>
            </div>
            <div class="card center col-8">
                <div class="card-body">
                    <form id="waitlist-contact-form" action="/waitlist" role="form" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="waitlist-name">Name</label>
                                    <input class="form-control" id="waitlist-name" name="waitlist-name"
                                           placeholder="name" type="text" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label for="waitlist-email">Email</label>
                                        <input class="form-control" id="waitlist-email" name="waitlist-email"
                                               pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$" placeholder="email@example.com"
                                               type="text" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" id="waitlist-privacy" name="waitlist-privacy"
                                               type="checkbox" required>
                                        <label class="form-check-label text-justify" for="waitlist-privacy">
                                            By checking this option, you agree to acceot with the <a
                                                href="/privacy-policy" style="color: #484848;">Terms and
                                            Conditions.</a>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-right">
                            <button id="waitlist_send_button" class="btn m-t-10">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</script>