<!-- Page title -->
<section id="page-title" class="text-light"
    style="background-image:url(/images/other/security2.jpg); background-size: cover; background-position: center center;">
    <div class="container p-b-100 p-t-100">
        <div class="page-title">
            <h1>Privacy policy </h1>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h2>General information</h2>
        <p>
            On May 25, 2018, the General Data Protection Regulation becomes applicable in the EU (GDPR).
            Privacy and lawful processing of entrusted to us by our customers' data is our priority, which is why we
            meet the requirements of provided for by law and we address the following information clause to you, in
            which we inform about the manner and purpose for which personal data are processed and about your
            rights regarding the protection of personal data.
            <br /><br />
            You do not need to contact WellMate, just read the content below.
        </p>
        <h2>Information clause</h2>
        <p>
            In accordance with art. 13 section 1 and item 2 of the General Data Protection Regulation with on April
            27, 2016 (hereinafter: GDPR) we provide below basic information regarding rules for the processing of
            personal data.
        </p>
        <h2>Information about the Administrator</h2>
        <p>
            The Administrator of your personal data is the WellMate Sp. z o.o. with its
            registered office at ul. Elewatorska 9, 19-200 Grajewo, Tax no.: PL7191577049, KRS No: 0001046050.
            <br /><br />
            The data administrator can be contacted via email: <a
                href="mailto:rodo@wellmate.io">rodo@wellmate.io</a> or in writing at
            the address of the administrator's office with the note "Data protection".
        </p>
        <h2>Scope of processing</h2>
        <p>
            Processing of personal data and company data for the purposes of conducting processes recruitment,
            answering the questions asked as part of the contact and possibilities presenting the offer of
            cooperation and implementation of services.
        </p>
        <h2>Purpose of data processing</h2>
        <p>
            The collected personal data will be processed depending on the legal basis for processing, in to:
        <ul class="list-icon list-icon-arrow list-icon-colored">
            <li>Necessary to take action at the request of the data subject before concluding contracts (including for
                contact purposes), used to perform the contract or to which the party is data subject (in accordance
                with
                art.6 par.1 point b of the GDPR);</li>
            <li>Marketing of WellMate products and services, which also means sending commercial
                information to the e-mail address provided, including marketing in the form of advertisements,
                promotions, newsletters and other forms of marketing on telecommunications terminal equipment such
                as smartphones, telephones, laptops, computers and others with access to the network Internet, of
                which the person is a user (in accordance with art.6 par.1 point a GDPR);</li>
            <li>The implementation of the newsletter service containing information about events in the GameDev and
                IT industry, including also events in which WellMate is a partner, participant, patron (according to
                Art. 6 clause 1 point a GDPR);</li>
        </ul>
        </p>
        <h2>The nature of data processing</h2>
        <p>
        <ul class="list-icon list-icon-arrow list-icon-colored">
            <li>Personal data will be processed manually, traditional by authorized persons and in an automated
                manner using systems designed for this purpose information technology;</li>
            <li>Automated processing of personal data will be based on profiling, i.e. it will be was based on the
                principles of targeting marketing, services and products targeted at Newsletter service user, which will
                result in personalized service advertisement and products indicated in this document;</li>
        </ul>
        </p>
        <h2>Data processing period</h2>
        <p>
            Personal data processed for the purposes previously mentioned will be processed until termination of
            the service provided by WellMate to the data subject or until the consent is withdrawn.
        </p>
        <h2>Transfer of personal data outside the European Economic Area</h2>
        <p>
            Personal data processed by WellMate will not be transferred outside European Economic Area
            (European Union countries and Iceland, Liechtenstein and Norway).
        </p>
        <h2>Rights of the subject of personal data</h2>
        <p>
        <ol class="p-l-15">
            <li class="p-l-5">
                The right to access your personal data, rectify, delete or limit processing;
            </li>
            <li class="p-l-5">
                The right to object to further processing, and in the event of consent for data processing to withdraw
                it
                at any time. Exercise of the revocation right consent does not affect the processing that took place
                until
                the consent was withdrawn. Consent may be withdrawn by sending an appropriate statement on
                withdrawal of consent to e-mail address indicated in point 1;
            </li>
            <li class="p-l-5">
                The right to receive personal data provided to WellMate in structured, commonly used,
                machine-readable format;
            </li>
            <li class="p-l-5">
                The right to lodge a complaint with a supervisory body dealing with the protection of personal data.
            </li>
        </ol>
        </p>
        <h2>Obligations of the personal data subject</h2>
        <p>
            Providing personal data is voluntary, however, it is a condition for the implementation of individual
            services indicated in this document by WellMate. The consequence of withdrawing consent, you
            will not be able to obtain the information indicated in this document.
        </p>

        <h2>Request user data deletion</h2>
        <p>
            When you install and use WellMate mobile applications, we can collect and process some of your data for different legitimate purposes.
            <br /><br />
            You will find below explanations regarding the reasons why we may collect data.

            
            <h4>
            Why is data collected?
            </h4>
            WellMate and its third-party partners collect data:
            <ul class="list-icon list-icon-arrow list-icon-colored">
                <li class="p-l-5">
                To provide you with the services you asked for
                </li>
                <li class="p-l-5">
                To run analytics and understand how users interact with our product and services to improve them continuously
                </li>
            </ul>
            <br /><br />
            The third-party partners that WellMate will share the data with are:
            <ul class="list-icon list-icon-arrow list-icon-colored">
                <li class="p-l-5">
                    GameAnalytics
                </li>
                <li class="p-l-5">
                    Facebook Analytics
                <li class="p-l-5">
                    Adjust
                </li>
                <li class="p-l-5">
                    Voodoo
                </li>
                </ul>

            <h4>Data deletion requests</h4>

            To delete user data collected by WellMate, please reach out to admin@wellmate.io.
            <br /><br />
            If you also want to request the deletion of the data that may have been collected about you or your device by our third-party partners that are acting as independent data controllers, you will find below the contact for each partner and the link to the relevant section of their privacy policies:
            <ul class="list-icon list-icon-arrow list-icon-colored">
                <li class="p-l-5">
                    GameAnalytics:
                <ul class="list-icon list-icon-arrow list-icon-colored">
                    <li class="p-l-5">
                    email: privacy@gameanalytics.com 
                    </li>
                    <li class="p-l-5">
                    privacy policy: https://gameanalytics.com/privacy/#6-changing-or-deleting-your-information
                    </li>
                    </ul>
                </li>
                <li class="p-l-5">
                    Facebook Analytics:
                    <ul class="list-icon list-icon-arrow list-icon-colored">
                        <li class="p-l-5">
                    email: none, please refer to the privacy policy
                    </li>
                    <li class="p-l-5">
                    privacy policy: https://www.facebook.com/policy.php
                    </li>
                    </ul>
                </li>
                <li class="p-l-5">
                    Adjust:
                    <ul class="list-icon list-icon-arrow list-icon-colored">
                        <li class="p-l-5">
                    email: privacy@adjust.com 
                    </li>
                    <li class="p-l-5">
                    privacy policy: https://www.adjust.com/terms/privacy-policy/ 
                    </li>
                    </ul>
                </li>
                <li class="p-l-5">
                    Voodoo:
                    <ul class="list-icon list-icon-arrow list-icon-colored">
                        <li class="p-l-5">
                    Voodoo does not collect any of your personal data and only provides an SDK package to retrieve the data collected by the above-mentioned partners. You can still contact them to request the deletion of their access to the partners’ interfaces.
                    </li>
                    <li class="p-l-5">
                    email: dpo@voodoo.io
                    </li>
                    </ul>
                </li>
        </p>
        <h2>Final provisions</h2>
        <p>
            This Privacy Policy applies from the date of publication, that is from February of 2021.
        </p>
    </div>
</section>
<!-- end: FULL WIDTH PAGE -->