<!-- Page title -->
<section id="page-title" class="text-light" style="background-image:url(images/other/security.jpg); background-size: cover; background-position: center center;">
    <div class="container">
        <div class="page-title">
            <h1>Cookie policy</h1>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h2>The type of cookies and other technologies used on our websites.</h2>
        <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
            <th style="width: 200px;">Type of technology</th>
            <th>Description of technology</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <td>Session Cookies</td>
            <td>Session cookies are created each time in the system – a user’s browser after creating a 
                user session – that is establishing a connection between the user’s browser and a given web page.
                <br/><br/>
                Session cookies expire at the end of the user session – e.g. closing the web browser window. 
                The information contained in session cookies is automatically deleted in this case.
            </td>
            </tr>
            <tr>
            <td>Permanent Cookies</td>
            <td>Permanent cookies are created in the system – a user’s browser after the first 
                visit to a given website or a certain action.
                <br/><br/>
                Persistent cookies, unlike session cookies, are not removed at the end of the user session. 
                Persistent cookies are deleted by the user’s browser automatically after a certain time. 
                They can also be manually removed by the user.
            </td>
            </tr>
            <tr>
            <td>Session Storage</td>
            <td>A data store that is the equivalent of cookies, but with a much larger data capacity
                (cookies have limitations related to their quantity and the amount of data they can
                contain). Information from the Session Storage browser store is saved and read only
                at the express request of the server sent to the user’s web browser. The data collected
                in the Session Storage warehouse is deleted as well as session cookies after closing
                the browser window.
            </td>
            </tr>
            <tr>
            <td>Local Storage</td>
            <td>A data store to which information is entered and which are stored permanently in the
                system / browser of the user’s web pages until they are deleted.
                <br/><br/>
                Data stored in Local Storage is not available automatically by the web server
                presenting the given page, and through appropriate scripts (java script, flash) placed
                on a given page or sent to the user’s browser from other WWW servers (eg by placing
                a code fragment from another WWW server – social icons Facebook, Twitter,
                Google).
            </td>
            </tr>
            <tr>
            <td>IndexedDB</td>
            <td>A data store is an internal database of a web browser used to store large amounts of
                data. This data store allows storing data in a structured form and in the form of files.
                <br/><br/>
                The data is stored in the form of objects, access to which is limited only to
                appropriate data sources – domains or subdomains from which they were saved.
            </td>
            </tr>
            </tbody>
        </table>
        </div>

        <h3>The purpose of using cookies and other technologies.</h3>

        <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
            <th style="width: 200px;">PURPOSE OF USE</th>
            <th style="width: 200px;">TYPE OF TECHNOLOGY</th>
            <th>SCOPE OF USE</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <td>Analytics & Statistics</td>
            <td>Cookies
                <br/>
                Local Storage
                <br/>
                Session Storage
                <br/>
                IndexedDB
            </td>
            <td>The information processed in these data stores is used to
                conduct analyzes, compile statistics, monitor the behavior of
                Users and Clients on the Website and Services and present
                our ads (on our Website and on other websites served by the
                marketing platforms we use), which ultimately serves us to
                improve website and services.
            </td>
            </tr>
            <tr>
            <td>User Authorization</td>
            <td>Cookies</td>
            <td>Information processed in these data stores is used to carry
                out user authorization in the IT system. Thanks to the
                information contained in these data stores, we are able to
                correctly recognize the user.
            </td>
            </tr>
            <tr>
            <td>Service configuration</td>
            <td>Local Storage</td>
            <td>Information processed in these data stores is used to store
                the preferred settings that you have selected as part of the
                website and services. Thanks to the information contained in
                these data stores, we can remember the settings and
                configurations of the website and services as well as selected
                elements and page views.
            </td>
            </tr>
            <tr>
            <td>Language settings of interfaces</td>
            <td>Cookies</td>
            <td>The information processed in these data stores is used to
                store the language settings of the website or service you
                have selected. Thanks to the information contained in these
                data stores, we can always present you the correct language
                version.
            </td>
            </tr>
            <tr>
            <td>Advertisement</td>
            <td>Cookies</td>
            <td>The information processed in these data stores serves to
                provide Users and Customers with general advertisements
                and tailored to their preferences.
            </td>
            </tr>
            </tbody>
        </table>
        </div>

        <p>Useful information about cookies can be found at:
        <br/>
        <a href="http://www.allaboutcookies.org/" target="_blank">http://www.allaboutcookies.org</a>
        <br/>
        <a href="https://wszystkoociasteczkach.pl/" target="_blank">https://wszystkoociasteczkach.pl</a>
        </p>
    </div>
    </section>
    <!-- end: FULL WIDTH PAGE -->